form#klausuren_upload {
	display: block;
	margin-bottom: 0.8em;
}

form#klausuren_upload fieldset {
	margin: 0;
	line-height: 275%;
	padding: 0;
	text-align: left;
	display: inline-block;
}

form#klausuren_upload fieldset div {
	margin: 0 0.5em 0.5em;
}

form#klausuren_upload fieldset,
table.klausuren_download
{
	margin-bottom:0.3em;
	width: 385px;
}
